.ddd {
  width: 100%;
  height: 100%;
  perspective: 3000px;
  transform-style: preserve-3d;
  transform: translateZ(0);
}

.rectangle {
  transform-style: preserve-3d;
}

.f1 {
  transform: translateZ(0px);
}

.f2 {
  transform: translateZ(25px);
}

.f3 {
  transform: translateZ(50px);
}

.f4 {
  transform: translateZ(75px);
}

.f5 {
  transform: translateZ(100px);
}

.f6 {
  transform: translateZ(125px);
}

.f7 {
  transform: translateZ(150px);
}
