/*КНОПКА*/



/*СТИЛИ*/

.rectangle.chaosON {
  background-color: gray;
}

.screen.chaosON::after {
  background: linear-gradient(36deg, #f8d7bc, #472947);
  mix-blend-mode: multiply;
  /*opacity: 1;*/
  display: block;
  content: '';
  width: 1000px;
  height: 1200px;
}
