@font-face {
  src: url(../fonts/T-StarPro-Bold.otf);
  font-family: T-StarPro-Bold;
}

@font-face {
  src: url(../fonts/T-StarPro-Heavy.otf);
  font-family: T-StarPro-Heavy;
}


@font-face {
  src: url(../fonts/T-StarPro-Medium.otf);
  font-family: T-StarPro-Medium;
}


@font-face {
  src: url(../fonts/T-StarPro.otf);
  font-family: T-StarPro;
}

.body {
  /*min-width: 1310px;*/
}
.globalflex {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all {
  display: block;
  width: 1440px;
  /*margin: auto;*/
  position: relative;
  height: 3000px;
  /*box-shadow: 0 0 4px 1px #D4D4D4;*/
  /*background-image: url(../materials/maket.png);*/
  /*background-color: brown;*/
}

.malevich {
  height: 800px;
  position: relative;
  margin-top: 50px;
}

.malevichBg {
  position: absolute;
  width: 1440px;
  height: 800px;
  -webkit-clip-path: polygon(0 0, 100% 55%, 100% 95%, 0% 100%);
  background-color: #FFD400;
}

.malevichSquare {
  width: 250px;
  height: 250px;
  transform: rotate(-20deg);
  background-color: black;
  margin-left: 1000px;
  margin-top: 200px;
  position: absolute;
}

.malevichTriangle {
  -webkit-clip-path: polygon(22% 0, 0 65%, 100% 44%);
  width: 300px;
  height: 200px;
  margin-left: 658px;
  margin-top: 60px;
  position: absolute;
  background-color: blue;
}

.malevichArt {
  position: absolute;
  width: 560px;
  height: 675px;
  background-image: url(../materials/malevich2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 87px;
  margin-left: 240px;
  display: block;
}

.malevichCaption {
  position: absolute;
  width: 700px;
  height: 400px;
  left: 730px;
  margin-top: 550px;
}

.right {
  width: 240px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.left {
  width: 240px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

h1 {
  font-size: 120px;
  font-family: T-StarPro-Medium;
  position: absolute;
}

.malevich > h1 {
  color: white;
}

.right > h1 {
    transform: rotate(-90deg);
}

.left > h1 {
    transform: rotate(90deg);
}

.left > p {
    width: 120px;
    height: 200px;
    font-family: T-StarPro-Medium;
    font-size: 24px;
    color: white;
    line-height: 29px;
}

.malevich > .left {
  justify-content: flex-end;
}

h2 {
  font-size: 42px;
  font-weight: 500;
  font-family: T-StarPro-Heavy;
}

.malevichCaption>p {
  padding-top: 5px;
  padding-left: 22px;
  font-size: 32px;
  font-weight: 400;
  font-family: T-StarPro-Medium;
  line-height: 33px;
}

.chashnikCaption>p {
  padding-top: 20px;
  padding-left: 22px;
  font-size: 36px;
  font-weight: 400;
  font-family: T-StarPro-Medium;
}

.gallery {
  width: 1440px;
  height: 350px;
}
.galleryPort {
  width: 900px;
  height: 350px;
  left: 270px;
  /*background-color: green;*/
  position: relative;
  bottom: 0;
  overflow: scroll;
}

.galleryRail {
  height: 350px;
  width: 2000px;
}

.galleryItem {
  height: 310px;
  width: 200px;
  margin: 20px 50px;
  /*background-color: lightgray;*/
  display: inline-block;
  content: '';
  top: 0;
}

.galleryItem > img {
  width: 200px;
  top: 0;
  display: block;
}

.galleryItem > h1 {
  width: 200px;
  height: 30px;
  font-size: 24px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  font-family: T-StarPro-Heavy;
  position: relative;
}

.galleryItem > p {
  width: 200px;
  height: 30px;
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  font-family: T-StarPro;
}

.galleryNav {
  width: 1000px;
  height: 50px;
  margin: 150px 220px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next, .previous {
  height: 55px;
  width: 68px;
  background-size: contain;
  background-image: url(../materials/arrow.svg);
  background-repeat: no-repeat;
}

.next {
  transform: rotate(180deg);
}

.chashnik {
  /*top: 1300px;*/
  height: 1300px;
  position: relative;
}

.chashnikBg {
  position: absolute;
  width: 1440px;
  height: 900px;
  -webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 73%);
  background-color: red;
}

.chashnikTriangle {
  -webkit-clip-path: polygon(22% 0, 0 65%, 100% 44%);
  width: 300px;
  height: 200px;
  margin-left: 200px;
  margin-top: 76px;
  position: absolute;
  background-color: blue;
}

.chashnikArt {
  display: block;
  position: absolute;
  width: 438px;
  height: 675px;
  background-image: url(../materials/chashnik1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 136px;
  right: 317px;
}

.chashnikCaption {
  position: absolute;
  width: 700px;
  height: 400px;
  right: 400px;
  margin-top: 400px;
  color: white;
}
