@font-face {
  src: url(../fonts/T-StarPro-Bold.otf);
  font-family: T-StarPro-Bold;
}

@font-face {
  src: url(../fonts/T-StarPro-Heavy.otf);
  font-family: T-StarPro-Heavy;
}


@font-face {
  src: url(../fonts/T-StarPro-Medium.otf);
  font-family: T-StarPro-Medium;
}


@font-face {
  src: url(../fonts/T-StarPro.otf);
  font-family: T-StarPro;
}

.body {
  min-width: 1310px;
}
.globalflex {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all {
  display: block;
  width: 1440px;
  /*margin: auto;*/
  position: relative;
  height: 3000px;
  box-shadow: 0 0 4px 1px #D4D4D4;
  /*background-image: url(../materials/maket.png);*/
}

.malevich {
  height: 1300px;
  position: relative;
}

.malevichBg {
  position: absolute;
  width: 1440px;
  height: 900px;
  -webkit-clip-path: polygon(0 0, 100% 55%, 100% 95%, 0% 100%);
  background-color: #FFD400;
}

.malevichSquare {
  width: 250px;
  height: 250px;
  transform: rotate(-20deg);
  background-color: black;
  margin-left: 1000px;
  margin-top: 200px;
  position: absolute;
}

.malevichTriangle {
  -webkit-clip-path: polygon(22% 0, 0 65%, 100% 44%);
  width: 300px;
  height: 200px;
  margin-left: 658px;
  margin-top: 76px;
  position: absolute;
  background-color: blue;
}

.malevichArt {
  position: absolute;
  width: 560px;
  height: 675px;
  background-image: url(../materials/malevich1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 136px;
  margin-left: 317px;
}

.malevichCaption {
  position: absolute;
  width: 700px;
  height: 400px;
  left: 650px;
  margin-top: 550px;
}

h1 {
  font-size: 120px;
  font-family: T-StarPro-Medium;
  position: absolute;
}

.right {
  width: 1300px;
  height: 120px;
  text-align: center;
  margin-top: 400px;
  line-height: 120px;
  margin-left: -505px;
  transform: rotate(-90deg);
  color: white;
}

.left {
  width: 1300px;
  height: 120px;
  text-align: center;
  margin-top: 400px;
  line-height: 120px;
  right: -490px;
  transform: rotate(90deg);
  color: black;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  font-family: T-StarPro-Heavy;
}

.malevichCaption>p {
  padding-top: 20px;
  padding-left: 29px;
  font-size: 36px;
  font-weight: 400;
  font-family: T-StarPro-Medium;
  line-height: 30normal;
}

.chashnikCaption>p {
  padding-top: 20px;
  padding-left: 29px;
  font-size: 36px;
  font-weight: 400;
  font-family: T-StarPro-Medium;
  line-height: 30normal;
}

.gallery {
  width: 900px;
  height: 400px;
  left: 270px;
  /*background-color: green;*/
  position: absolute;
  bottom: 0;
  overflow: scroll;
}

.galleryRail {
  height: 400px;
  width: 2000px;
}

.galleryItem {
  height: 360px;
  width: 200px;
  margin: 20px 50px;
  /*background-color: lightgray;*/
  display: inline-block;
  content: '';
  top: 0;
}

.galleryItem > img {
  width: 200px;
  top: 0;
  display: block;
}

.galleryItem > h1 {
  width: 200px;
  height: 30px;
  font-size: 24px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  font-family: T-StarPro-Heavy;
  position: relative;
}

.galleryItem > p {
  width: 200px;
  height: 30px;
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  font-family: T-StarPro;

}

.chashnik {
  height: 1300px;
  position: relative;
}

.chashnikBg {
  position: absolute;
  width: 1440px;
  height: 900px;
  -webkit-clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 73%);
  background-color: red;
}

.chashnikTriangle {
  -webkit-clip-path: polygon(22% 0, 0 65%, 100% 44%);
  width: 300px;
  height: 200px;
  margin-left: 200px;
  margin-top: 76px;
  position: absolute;
  background-color: blue;
}

.chashnikArt {
  display: block;
  position: absolute;
  width: 438px;
  height: 675px;
  background-image: url(../materials/chashnik1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 136px;
  right: 317px;
}

.chashnikCaption {
  position: absolute;
  width: 700px;
  height: 400px;
  right: 400px;
  margin-top: 400px;
  color: white;
}
