.menubar {
  position: fixed;
  width: 100vw;
  height: 50px;
  min-width: 1310px;

  background-color: white;
  box-shadow: 0 0 2px 0 rgba(155,155,155,0.50);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu {
  height: 100%;
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 820px;
  font-family: 'Roboto Mono', monospace;


}

.logo {
  font-size: 36px;
  letter-spacing: 55px;
  font-weight: bold;
  line-height: 50px;
  margin: 73px;
  font-family: 'Roboto Mono', monospace;
}

.gal, .ab {
  font-size: 24px;
  margin: 20px;
  /*text-decoration: underline;*/
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  line-height: 50px;
}
