.menubar {
  position: fixed;
  width: 100vw;
  height: 50px;

  background-color: white;
  box-shadow: 0 0 2px 0 rgba(155,155,155,0.50);

  display: flex;
  flex-direction: сolumn;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu {
  height: 100%;
  width: 1440px;

  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;
  min-width: 1440px;
  font-family: 'Roboto Mono', monospace;
}

.logo {
  display: block;
  width: 960px;
  height: 50px;
  background-image: url(../materials/logo.svg);
  background-size: cover;
}

.gal, .ab {
  display: block;
  width: 240px;
  height: 100%;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  line-height: 50px;
  text-align: center;
}
